:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background-colour: #020202;
  --text-primary: white;
  --text-secondary: white;
  --resizable-bar-colour: pink;
  --console-background-colour: #23262e;
  --editor-background-colour: #23262e;
  --notepad-background-colour: #23262e;
}

[data-theme="light"] {
  --background-colour: #fafafa;
  --text-primary: black;
  --text-secondary: black;
  --console-background-colour: #e4e5f1;
  --editor-background-colour: white;
  --notepad-background-colour: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #020202;
}

a {
  color: inherit;
  text-decoration: none;
}

select {
  outline: none;
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
