.page {
  width: 100vw;
  height: 100vh;
  background-color: #020202;
  margin: 0;
}

.main_area {
  display: flex;
  height: 94%;
  padding: 0.5rem;
}

.main_area_right {
  width: 25%;
  min-width: 10%;
  overflow: auto;
  color: white;
  flex-grow: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.nav_container {
  display: flex;
  height: 6%;
  padding: 1rem;
}
